/*====================	MAIN SECTION ================*/

.sidebarleft
{
	width: 220px;
	height: 100px;
	background-color: blue;
	position: fixed;
}

.leftfixed
{
	width: 220px;
	height: 100px;
	float: left;
}

.main
{
	float: right;
	width: 300px;
	height: 220px;
	background-color: yellow;
	position: fixed;

}

.mainfixed
{
	float: right;
	width: 300px;
	height: 600px;;
}

.sidebarright
{
	float: right;
	width: 580px;
	height: 2220px;
	background-color: red;
}
