/*====================	MAIN SECTION ================*/


.main
{
	width: 568px;
	height: 220px;
	background-color: #FFFFFF;
	border: 1px solid #B7B7B7;
	/*position: fixed;*/
	border-radius: 4px;

}

.mainnotfixed
{
	float: left;
	width: 568px;
	height: 1600px;;
}

