body{
	width: 100%;
	height: 100%;
	margin:0px;
	padding:0px;
}

.header
{
	width: 100%;
	height: 80px;
	background-color: #009688;
}

.logo1
{
	margin-top:7px;
	margin-bottom:5px;
	margin-left: 10%;
	float: left;
}

.loginuser
{
	float:right;
	margin-right: 5%;
	margin-top: 5px;
	color: white;
	font-size: 14px;
}

#login tr td .inputtext
{
	border: 1px solid black;
	width: 145px;
	height: 18px;
}

#login tr td
{
	border: 0px;
	padding: 0px;
	padding-left: 8px;
}


#login2
{
	border: 0px;
	background-color: #43d854;
	height: 22px;
	color:white;
	font-size:14px;
}

#login2:hover
{
	background-color: #81E58D;
}

.logo2
{
	float:left;
	align-items: left;
}

.signup
{
	float:right;
	margin-right:10%;
}